html.dark-theme{
    body{
        background-color: $dark;
        color: $darkThemeWhite
    }

    .dolfo-checkbox .dolfo-checkbox-square:not(.checked){
        background-color: $darkThemeDark;

        *{
            color: $darkThemeDark !important
        }
    }

    .dolfo-calendar-container{
        background-color: $dark;

        .dolfo-calendar .dolfo-calendar-cell.today, .dolfo-calendar .dolfo-calendar-cell-h.today, .dolfo-calendar-cell.select.selected span{
            background-color: rgba($hoverRed, 0.7)
        }

        .dolfo-calendar-cell:not(.select):hover, .dolfo-calendar-cell-h.select-month:hover, .dolfo-calendar-cell-h.next-month:hover, .dolfo-calendar-cell-h.prev-month:hover, .dolfo-calendar-cell-h.select-year:hover, .dolfo-calendar-cell.selected:not(.select), .dolfo-calendar-cell.select:hover span{
            background-color: rgba($hoverBlue, 0.7) !important;
        }
    }

    .dolfo-g-calendar-content table.dolfo-g-calendar tbody tr td.external .content .event{
        background-color: lighten($darkThemeDark, 30%);
    
        &:hover{
            background-color: lighten($darkThemeDark, 15%)
        }
    }

    .dolfo-form-input.dolfo-input-pin .dolfo-input-wrapper{
        background-color: inherit
    }

    .dolfo-form-input .dolfo-input-wrapper{
        &, .dolfo-input-content input[type="text"], input[type="password"], input[type="email"], textarea{
            background-color: $dark;
            color: $darkThemeWhite;

            :-webkit-autofill, :-webkit-autofill:hover, :-webkit-autofill:focus, :-webkit-autofill:active{
                box-shadow: 0 0 0px 1000px $dark inset !important;
                -webkit-text-fill-color: $darkThemeWhite
            }
        }

        .dolfo-input-icon{
            color: $darkThemeWhite
        }

        &.focused .dolfo-input-icon{
            color: $selectionBlue
        }

        .select-icon .loading{
            color: $darkThemeSelectionBlue
        }
    }

    .dolfo-form-input{
        .reset-input, .toggle-password, .dolfo-select-search-icon, &.input-number .dolfo-input-number-btns .increase, &.input-number .dolfo-input-number-btns .decrease{
            color: $lightGrey;

            &:hover{
                color: $darkThemeWhite
            }
        }
    }

    .dolfo-input-radio .dolfo-radio-circle{
        &:not(.checked){
            background-color: $darkThemeDark
        }
    }

    .dolfo-select-options{
        background-color: $dark;
        color: $darkThemeWhite;

        .dolfo-option.focused{
            background: $darkThemeDarkHover !important
        }
    }

    .dolfo-select-options .dolfo-option:hover, .dolfo-select-options .dolfo-option.selected, .dolfo-input-wrapper.focused .dolfo-select-search-content{
        background-color: darken($dark, 10%)
    }

    .dolfo-input-switch{
        .dolfo-switch:not(.checked){
            background-color: lighten($darkThemeDark, 40%)
        }

        .dolfo-switch-dot.loading{
            color: $darkThemeDarkActive
        }
    }

    .dolfo-time-container{
        background-color: $dark;

        .dolfo-picker-table .dolfo-picker-row:first-child .dolfo-picker-cell:hover, .dolfo-picker-table .dolfo-picker-row:last-child .dolfo-picker-cell:hover{
            background-color: rgba($hoverBlue, 0.7) !important;
        }
    }

    .dolfo-uploader{
        .dolfo-input-wrapper:hover .dolfo-input-icon, .dolfo-input-wrapper:hover .dolfo-input-content input{
            color: $selectionBlue
        }

        .dolfo-uploader-drop{
            background-color: $darkThemeDark;
            
            &:not(:hover){
                color: $lightGrey
            }
    
            &:hover, &.dragging{
                color: $selectionBlue;
                background-color: lighten($hoverBlue, 25%)
            }
        }
    }

    .dolfo-accordion{
        box-shadow: inset 0 0 0 1px darken($darkThemeDark, 7%);
        background-color: darken($darkThemeDark, 7%);

        .dolfo-accordion-header{
            background-color: $darkThemeDarkHover;
            color: $lightGrey;

            &:hover{
                color: $darkThemeWhite
            }
        }
    }

    .dolfo-card{
        background-color: $dark;

        .dolfo-card-title{
            color: $darkThemeWhite !important
        }

        &.tab-layout .dolfo-card-title{
            background-color: $dark
        }
    }

    .dolfo-card-table-content .dolfo-card{
        &:hover:not(.selected){
            &, .dolfo-card-title{
                background-color: $darkThemeDark
            }
        }

        &.selected{
            &, .dolfo-card-title{
                background-color: #345581
            }
        }
    }

    .context-menu{
        background-color: $darkThemeDark;

        .context-item:not(.disabled){
            &:hover{
                background-color: $darkThemeDarkHover;
            }

            &:active{
                background-color: $darkThemeDarkActive;
            }
        }
    }

    .dolfo-dialog{
        .dolfo-dialog-overlay{
            background: rgba(255, 255, 255, 0.15)
        }

        .dolfo-dialog-inner{
            background-color: $darkThemeDark
        }
    }
    
    .dolfo-message-box{
        background-color: $darkThemeDark;
        color: $darkThemeWhite;

        .dolfo-message-box-title{
            border-color: $dark
        }

        .dolfo-notification-elapser{
            background-color: $darkThemeSelectionBlue
        }
    }
    
    .dolfo-notification{
        background-color: $darkThemeDarkHover;
        color: $darkThemeWhite;

        .dolfo-notification-elapser{
            background-color: darken($darkThemeSelectionBlue, 45%)
        }
    }
    
    .dolfo-progress-line{
        background-color: $darkThemeDark
    }

    .dolfo-circular-progress {  
        .dolfo-progress-circle-bg{
            stroke: $darkThemeDark
        }

        .dolfo-progress-percentage{
            fill: $darkThemeWhite
        }
    }

    .dolfo-swiper-container .dolfo-swipe{
        background-color: $darkThemeDark
    }

    .dolfo-table-content{
    
        .dolfo-table{
            $borderRule: 1px solid $grey;
            
            > tbody > tr, > thead > tr{
                background-color: $dark;

                > td, > th{
                    background-color: $dark;

                    &.dropping{
                        background-color: darken($darkThemeSelectionBlue, 45%)
                    }
                }
            }

            > tbody > tr{
                &:hover{
                    > td{
                        background-color: $darkThemeDark
                    }
                }
            }

            > thead > tr > th .dolfo-column-search-input{
                background-color: $darkThemeDark;
                color: $darkThemeWhite
            }
        }
    }

    .tree-view-angle{
        color: $lightGrey;

        &:hover{
            color: darken($lightGrey, 8%)
        }

        &:active{
            color: darken($lightGrey, 18%)
        }
    }

    .dolfo-tabs{
        .dolfo-tabs-links{    
            .dolfo-tabs-underline{
                background-color: $darkThemeSelectionBlue;
            }

            .dolfo-tab-title{
                color: $lightGrey;
                
                &.current{
                    color: $darkThemeSelectionBlue !important
                }

                &:focus, &:hover{
                    color: darken($darkThemeSelectionBlue, 15%)
                }
            }
        }

        &.tab-layout{
            .dolfo-tabs-links .dolfo-tab-title{
                &.current{
                    box-shadow: inset 0 -3px 0 $dark;
        
                    &:before{
                        background-color: $dark
                    }
                }
    
                &:not(.disabled):not(.current):hover{
                    background-color: $darkThemeDark
                }
            }
        }

        .dolfo-tabs-list{
            background-color: $darkThemeDark
        }
    }

    .dolfo-timeline{        
        .dolfo-timeline-item-row{
            .dolfo-timeline-empty.dolfo-timeline-item:before, .dolfo-timeline-item.dolfo-timeline-item:before{
                background-color: $darkThemeDark
            }

            .dolfo-timeline-sign:before{
                background-color: $darkThemeDarkHover
            }

            .dolfo-timeline-sign:after{
                box-shadow: 0 0 0 2px $darkThemeDarkHover;
                background-color: $dark;
            }

            &.left .dolfo-timeline-item:after{
                border-left-color: $darkThemeDark;
                border-right-color: transparent !important
            }

            .dolfo-timeline-empty.dolfo-timeline-item:after, .dolfo-timeline-item.dolfo-timeline-item:after{
                border-right-color: $darkThemeDark
            }
        }
    }

    .dolfo-button{
        &.btn-white:not(.text-btn){
            background-color: $darkThemeDark;
            color: $darkThemeWhite;
    
            &:hover{
                background-color: $darkThemeDarkHover;
            }
    
            &:active{
                background-color: $darkThemeDarkActive;
            }
        }
        
        &.btn-black.text-btn{
            color: $darkThemeWhite;
    
            &:hover{
                color: $lightGrey
            }
    
            &:active{
                color: $grey
            }
        }
    }

    .dolfo-selectable-list .dolfo-selectable-option{
        color: $darkThemeWhite;

        &:not(.selected){
            background-color: $darkThemeDark;
            border-color: $darkThemeDarkActive;

            small{
                color: $lightGrey
            }
        }
    }

    .dolfo-popover{
        background-color: $dark;
        border-color: $darkThemeDark;

        &:not(.pos-right):not(.pos-top):not(.pos-bottom){
            &:before{
                border-left-color: $dark
            }
            
            &:after{
                border-left-color: $darkThemeDark
            }
        }

        &.pos-right{
            &:before{
                border-right-color: $dark
            }
    
            &:after{
                border-right-color: $darkThemeDark
            }
        }

        &.pos-bottom{
            &:before{
                border-bottom-color: $dark
            }
    
            &:after{
                border-bottom-color: $darkThemeDark
            }
        }
    
        &.pos-top{
            &:before{
                border-top-color: $dark
            }
    
            &:after{
                border-top-color: $darkThemeDark
            }
        }
    }

    .dolfo-dropdown:not(.disabled){
        .dolfo-dropdown-label, .dropdown-items-container, .dropdown-items-container:before{
            background-color: $dark;
            color: $darkThemeWhite
        }

        .dropdown-items-container .dolfo-dropdown-item:not(.disabled):not(.static):hover{
            background-color: $darkThemeDarkHover
        }
    }

    .dolfo-transfer-list{
        .dolfo-transfer-from, .dolfo-transfer-to{
            .transfer-content{
                background-color: $darkThemeDark;
                border-color: $disabled;

                .filter{
                    border-bottom-color: $disabled;

                    input{
                        background-color: $darkThemeDark;
                        color: $darkThemeWhite;
                        
                        &:not(:focus){
                            border-color: $disabled
                        }
                    }
                }
            }
        }
    }

    .dolfo-breadcrumb.arrow-style .dolfo-breadcrumb-item{
        &:not(:last-child) .dolfo-breadcrumb-item-inner:not(.clickable){
            background-color: $darkThemeDark;
            color: $darkThemeWhite;

            &:after{
                border-left-color: $darkThemeDark
            }
        }

        .dolfo-breadcrumb-item-inner{
            background-color: $darkThemeDark;
            
            &.clickable{
                color: $darkThemeWhite;
    
                &:after{
                    border-left-color: $darkThemeDark
                }
    
                &:hover{
                    background-color: $darkThemeDarkHover;
    
                    &:after{
                        border-left-color: $darkThemeDarkHover
                    }
                }
            }
    
            &:not(.clickable){
                background-color: lighten($dark, 5%)
            }
        }
    }

    .dolfo-tooltip{
        $tooltipBg: rgba(255, 255, 255, 0.95);
        background-color: $tooltipBg;
        color: $black;

        &:not(.Left):not(.Right):not(.Bottom):after{
            border-top-color: $tooltipBg
        }

        &.Left:after{
            border-left-color: $tooltipBg
        }

        &.Right:after{
            border-right-color: $tooltipBg
        }

        &.Bottom:after{
            border-bottom-color: $tooltipBg
        }
    }

    .dolfo-spotlight{
        .dolfo-spotlight-overlay{
            background-color: rgba(255, 255, 255, 0.15)
        }

        .dolfo-spotlight-inner{
            background-color: $dark;

            .dolfo-spotlight-data{
                padding: 0.6rem;
                padding-top: 0;

                .dolfo-spotlight-item{
                    border-color: $darkThemeDarkActive
                }
            
                .dolfo-spotlight-item:hover, .dolfo-spotlight-item.focused{
                    background-color: $darkThemeDarkHover
                }
            }
        }
    }

    .dolfo-alert, .dolfo-status{
        &.pending, &.dolfo-alert{
            background-color: darken($dark, 14%);
            color: $grey
        }

        &.info{
            color: lighten($darkBlue, 30%);
            background-color: $lightBlueDark
        }

        &.success{
            background-color: darken($green, 22%);
            color: $lightGreenDark
        }
    
        &.error{
            background-color: darken($red, 20%);
            color: $lightRedDark
        }

        &.warning{
            background-color: darken($orange, 27%);
            color: $lightOrangeDark
        }
    }

    .dolfo-list-side-menu{
        &.dolfo-list-side-menu-blue{
            .dolfo-menu-voice:hover:not(.selected), .dolfo-submenu .dolfo-submenu-title:hover{
                background-color: $lightBlueDark
            }
        }
        &.dolfo-list-side-menu-red{
            .dolfo-menu-voice:hover:not(.selected), .dolfo-submenu .dolfo-submenu-title:hover{
                background-color: darken($lightRedDark, 70%);
                color: $darkThemeWhite
            }
        }
        &.dolfo-list-side-menu-green{
            .dolfo-menu-voice:hover:not(.selected), .dolfo-submenu .dolfo-submenu-title:hover{
                background-color: darken($lightGreenDark, 70%);
                color: $darkThemeWhite
            }
        }
        &.dolfo-list-side-menu-darkblue{
            .dolfo-menu-voice:hover:not(.selected), .dolfo-submenu .dolfo-submenu-title:hover{
                background-color: darken($darkBlue, 20%);
                color: $darkThemeWhite
            }
        }
        &.dolfo-list-side-menu-orange{
            .dolfo-menu-voice:hover:not(.selected), .dolfo-submenu .dolfo-submenu-title:hover{
                background-color: darken($lightOrangeDark, 70%);
                color: $darkThemeWhite
            }
        }
        &.dolfo-list-side-menu-violet{
            .dolfo-menu-voice:hover:not(.selected), .dolfo-submenu .dolfo-submenu-title:hover{
                background-color: darken($lightViolet, 40%);
                color: $darkThemeWhite
            }
        }
        &.dolfo-list-side-menu-white, &.dolfo-list-side-menu-grey{
            .dolfo-menu-voice:not(.selected), .dolfo-submenu .dolfo-submenu-title{
                color: $darkThemeWhite;

                &:hover{
                    color: $black
                }
            }
        }
        &.dolfo-list-side-menu-black{
            .dolfo-menu-voice, .dolfo-submenu .dolfo-submenu-title{
                color: $darkThemeWhite !important;

                &:hover:not(.selected){
                    background-color: $darkThemeDark
                }

                &.dolfo-menu-voice.selected{
                    background-color: $darkThemeDarkActive
                }
            }

            .dolfo-submenu.opened .dolfo-submenu-title{
                background-color: $darkThemeDarkActive !important
            }
        }
    }

    .dolfo-pagination .dolfo-pagination-btn{
        border-color: $darkThemeSelectionBlue;

        &:hover, &.current{
            background-color: $darkThemeSelectionBlue
        }

        &:not(:hover):not(.current){
            color: $darkThemeSelectionBlue
        }
    }

    .dolfo-display-content{
        background-color: $dark;
        color: $white
    }

    ::-webkit-scrollbar{
        background: $darkThemeDark
    }

    ::-webkit-scrollbar-thumb{
        background: $darkThemeDarkActive
    }

    @media screen and (max-width: 600px) {
        .dolfo-g-calendar-content table.dolfo-g-calendar tbody tr td .content .events-container .event:hover{
            background-color: $darkThemeDarkHover
        }
    }
}
