$selectionBlue: #0997ff;
$hoverBlue: rgba(25, 111, 202, 0.15);
$hoverRed: rgba(255, 0, 0, 0.15);
$roundRadius: 50px;
$smallRadius: 0.25rem;
$green: #27b12d;
$blue:  #239ad1;
$darkBlue: #236fd1;
$red: #eb1d1d;
$orange: #f1a80b;
$dark: #353535;
$white: #fff;
$disabled: #aaa;
$grey: #ccc;
$lightGrey: #eee;
$black: #000;
$violet: #c0133e;
$lightGreen: lighten($green, 47%);
$lightRed: lighten($red, 42%);
$lightBlue: lighten($darkBlue, 47%);
$lightOrange: lighten($orange, 42%);
$lightViolet: lighten($violet, 20%);
$lightDarkBlue: lighten($darkBlue, 20%);

$darkThemeDark: darken($dark, 5%);
$darkThemeDarkHover: darken($dark, 15%);
$darkThemeDarkActive: darken($dark, 25%);
$darkThemeSelectionBlue: lighten($selectionBlue, 20%);
$lightBlueDark: darken($darkBlue, 35%);
$lightGreenDark: lighten($green, 50%);
$lightRedDark: lighten($red, 40%);
$lightOrangeDark: lighten($orange, 40%);

$disabledOpacity: 0.6;

$colors: (
  "red": $red,
  "blue": $blue,
  "darkblue": $darkBlue,
  "green": $green,
  "orange": $orange,
  "black": #333,
  "grey": $disabled,
  "white": $white,
  "violet": $violet
);

$lightColors: (
  "red": $lightRed,
  "blue": $lightBlue,
  "darkblue": $lightDarkBlue,
  "green": $lightGreen,
  "orange": $lightOrange,
  "black": #333,
  "grey": $lightGrey,
  "white": $white,
  "violet": $lightViolet
);

:root{
  @each $key, $color in $colors {
    --#{$key}: #{$color}
  }

  --dark: #{$dark};
  --hoverblue: #{$hoverBlue};
  --hoverred: #{$hoverRed};
  --roundradius: #{$roundRadius};
  --smallradius: #{$smallRadius};
}

@function setBtnColor($color){  
  @if(lightness($color) > 80){
    @return $black;
  }
  @else{
    @return $white
  }
}