$selectionBlue: #0997ff;
$disabled: #aaa;
$grey: #ccc;
$lightGrey: #eee;
$hoverBlue: rgba(25, 111, 202, 0.15);
$hoverRed: rgba(255, 0, 0, 0.15);
$roundRadius: 50px;
$smallRadius: 0.25rem;
$dark: #555;
$white: #fff;
$black: #000;
$green: #1c9222;
$blue:  #239ad1;
$darkBlue: #236fd1;
$red: #eb1d1d;
$orange: #f1a80b;

$colors: (
  "red": $red,
  "blue": $blue,
  "darkblue": $darkBlue,
  "green": $green,
  "orange": $orange,
  "black": #333,
  "grey": $disabled,
  "white": $white
);

@function setBtnColor($color){  
  @if(lightness($color) > 80){
    @return $black;
  }
  @else{
    @return $white;
  }
}