.dolfo-autocomplete{
    .dolfo-input-label:not(.dirty) span{
        left: 1.2rem;
        z-index: 3
    }

    .dolfo-input-icon{
        display: none
    }

    .dolfo-select-options{
        width: calc(100% + 5px);
        left: -1px;
        border-top-left-radius: 0.25rem;

        .dolfo-select-search-content > input.dolfo-select-search-input{
            padding-left: 3rem !important
        }
    }

    .dolfo-select-search-content {
        > .dolfo-icon:not(.reset-input){
            right: auto;
            left: 1rem;
            top: 0.5rem;
            transform: translateY(50%);
            font-size: 14px;
            pointer-events: none;
            position: absolute
        }
    }

    .dolfo-select-search-content > .reset-input{
        right: 0.2rem !important
    }
    
    .autocomplete-no-results{
        text-align: center;
        padding-bottom: 0.6rem
    }
}
