.dolfo-input-range{
    width: 100%;

    $pinWidth: 17px;
    $sliderHeight: 8px;

    > input[type="range"] {
        cursor: pointer;
        display: block;
        width: 100%;
        margin: 0;
        outline: none;
        appearance: none;
        height: 20px;
        -webkit-appearance: none;
        background-color: transparent;
        height: $sliderHeight;
        border-radius: $roundRadius;
        position: relative;
        z-index: 1;

        @mixin thumb {
            background-color: $selectionBlue;
            appearance: none;
            -webkit-appearance: none;
            width: $pinWidth;
            height: $pinWidth;
            border-radius: $roundRadius;
            border: 0
        }

        &::-webkit-slider-thumb {
            @include thumb
        }

        &::-moz-range-thumb {
            @include thumb
        }

        &::-webkit-slider-runnable-track, &::-moz-range-track {
            display: none
        }
    }

    > label.dolfo-input-label{
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 5px;
        display: inline-block;
        
        &, *{
            pointer-events: none !important
        }

        > span{
            left: 0;
            opacity: 1;
            pointer-events: all !important
        }
    }

    .dolfo-input-range-steps{
        display: flex;
        margin-top: 5px;
        
        strong{
            text-align: center;
            font-weight: 500;
            margin: auto;

            span{
                width: $pinWidth;
                display: inline-block;
                text-align: center
            }

            &:last-child{
                border-right-width: 2px;
                margin-right: 0
            }

            &:first-child{
                border-left-width: 2px;
                margin-left: 0
            }
        }
    }
}