.dolfo-input-wrapper{
    .dolfo-input-select{
        cursor: pointer !important;
        position: relative;
        flex-grow: 1;

        input:not(.dolfo-select-search-input){
            pointer-events: none;
            color: transparent !important;
            width: 100%;
            cursor: pointer !important;
        }

        span{
            position: absolute;
            top: 0.5rem;
            right: 2rem;
            left: 0.8rem;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap
        }
    }
    
    .dolfo-select-search-content{
        display: none
    }

    &.focused .dolfo-select-search-content{
        background-color: $white;
        position: absolute;
        display: block;
        top: -3px;
        left: 0;
        right: 0;
        z-index: 1;

        .reset-input{
            right: 1.5rem;
            top: 1rem
        }

        .dolfo-select-search-input{
            padding-top: calc(0.5rem + 3px) !important;
            padding-bottom: calc(0.5rem + 3px) !important;
            padding-right: 3.8rem !important;
            padding-left: 2.5rem !important
        }

        .dolfo-select-search-icon{
            right: auto;
            left: 0.7rem;
            top: 0.5rem;
            transform: translateY(50%);
            font-size: 14px;
            pointer-events: none
        }
    }

    .select-icon{
        position: absolute;
        margin-right: 0.7rem;
        color: $disabled;
        top: 50%;
        right: 0;
        font-size: 15px;
        z-index: 1;
        transition: transform 0.3s ease;
        transform: translateY(-50%);

        .loading{
            color: $selectionBlue
        }

        &, *{
            pointer-events: none !important
        }
    }

    &.focused .select-icon{
        transform: rotate(180deg) translateY(50%);
        z-index: 3
    }

    .dolfo-select-options{
        position: absolute;
        top: 100%;
        z-index: 2;
        width: calc(100% + 55px);
        left: -51px;
        border: 1px solid #0997ff;
        background-color: #fff;
        border-radius: 0 0 0.25rem 0.25rem;
        display: none;
        max-height: 200px;
        overflow: auto;
        border-top: 0;

        &.show{
            display: block
        }

        .dolfo-option{
            padding: calc(0.5rem + 3px) calc(0.8rem - 1px);
            cursor: pointer;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-right: 2rem;

            &:hover, &.selected{
                background-color: $lightGrey
            }

            &.disabled{
                pointer-events: none;
                opacity: 0.6
            }

            &.focused{
                background-color: $lightGrey !important
            }
        }

        &.multiple{
            .dolfo-option .dolfo-input-checkbox{
                label{
                    font-size: inherit
                }

                &, *{
                    pointer-events: none
                }
            }

            .dolfo-option.selected:not(:hover){
                background-color: initial
            }
        }
    }
}
