.dolfo-input-wrapper{
    .dolfo-input-select{
        cursor: pointer !important;
        position: relative;
        flex-grow: 1;

        input{
            pointer-events: none;
            color: transparent !important;
            width: 100%;
            cursor: pointer !important;
        }

        span{
            position: absolute;
            top: 0.5rem;
            right: 2rem;
            left: 0.8rem;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap
        }
    }

    .select-icon{
        position: absolute;
        margin-right: 0.7rem;
        color: $disabled;
        top: 50%;
        right: 0;
        font-size: 15px;
        z-index: 1;
        transition: transform 0.3s ease;
        transform: translateY(-50%);

        .loading{
            color: $selectionBlue
        }

        &, *{
            pointer-events: none !important
        }
    }

    &.focused .select-icon{
        transform: rotate(180deg) translateY(50%);
        z-index: 3
    }

    .dolfo-select-options{
        position: absolute;
        top: 0;
        z-index: 2;
        width: 100%;
        border: 1px solid $grey;
        background-color: $white;
        border-radius: $smallRadius;
        display: none;
        max-height: 200px;
        overflow: auto;

        &.show{
            display: block
        }

        .dolfo-option{
            padding: calc(0.5rem - 1px) calc(0.8rem - 1px);
            cursor: pointer;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding-right: 2rem;

            &:not(.unclick):hover, &.selected{
                background-color: $lightGrey
            }

            &.focused{
                background-color: $lightGrey !important
            }
        }

        &.multiple{
            .dolfo-option .dolfo-input-checkbox{
                label{
                    font-size: inherit
                }

                &, *{
                    pointer-events: none
                }
            }

            .dolfo-option.selected:not(:hover){
                background-color: initial
            }
        }

        .dolfo-select-search-content{
            background-color: $white;
            position: sticky;
            position: -webkit-sticky;
            top: 0;
            z-index: 1;

            .reset-input{
                right: 1.5rem;
                top: 0.7rem
            }

            .dolfo-select-search-input{
                padding-right: 3.8rem !important;
                padding-left: 2.5rem !important
            }

            .dolfo-select-search-icon{
                right: auto;
                left: 0.7rem;
                top: 0.4rem;
                transform: translateY(50%);
                font-size: 12px;
                pointer-events: none
            }
        }
    }
}