.dolfo-input-wrapper{
    .dolfo-input-select{
        cursor: pointer !important;
        position: relative;
        flex-grow: 1;

        input{
            pointer-events: none;
            color: transparent !important;
            width: 100%;
            cursor: pointer !important;
        }

        span{
            position: absolute;
            top: 0.3rem;
            right: 2rem;
            left: 0.7rem;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap
        }
    }

    .select-caret{
        position: absolute;
        pointer-events: none;
        margin-right: 0.7rem;
        color: $disabled;
        top: 50%;
        right: 0;
        font-size: 15px;
        z-index: 1;
        transition: transform 0.3s ease;
        transform: translateY(-50%)
    }

    &.focused .select-caret{
        transform: rotate(180deg) translateY(50%);
        z-index: 3
    }

    .dolfo-select-options{
        position: absolute;
        z-index: 2;
        width: 100%;
        border: 1px solid $grey;
        background-color: $white;
        border-radius: $smallRadius;
        display: none;
        top: 0;
        max-height: 300px;
        overflow: auto;

        &.show{
            display: block
        }

        .dolfo-option{
            padding: calc(0.3rem - 1px) calc(0.7rem - 1px);
            cursor: pointer;

            &:not(.unclick):hover, &.selected{
                background-color: $lightGrey
            }

            &.focused{
                background-color: $lightGrey !important
            }
        }

        &.multiple{
            .dolfo-option .dolfo-input-checkbox{
                label{
                    font-size: inherit
                }

                &, *{
                    pointer-events: none
                }
            }

            .dolfo-option.selected:not(:hover){
                background-color: initial
            }
        }

        .dolfo-select-search-content{
            .reset-input{
                right: 1.5rem;
                top: 0;
                transform: translateY(50%)
            }

            .dolfo-select-search-input{
                padding-right: 3.8rem !important;
                padding-left: 2.5rem !important
            }

            .dolfo-select-search-icon{
                right: auto;
                left: 0.7rem;
                top: 0.2rem;
                transform: translateY(50%);
                font-size: 12px;
                pointer-events: none
            }
        }
    }
}