.dolfo-input-switch{
    display: inline-block;
    position: relative;

    input[type="checkbox"]{
        opacity: 0;
        position: absolute;
        pointer-events: none;
        top: 25%;
        left: 0
    }
    
    &.disabled{
        pointer-events: none;
        opacity: $disabledOpacity
    }

    .dolfo-switch{
        border-radius: $roundRadius;
        position: relative;
        background: $grey;
        width: 40px;
        cursor: pointer;
        display: inline-flex;
        padding: 2px;
        vertical-align: middle;

        &:focus{
            outline: none
        }

        .dolfo-switch-dot{
            height: 16px;
            width: 16px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background-color: $white;
            border-radius: $roundRadius;
            transition: 0.5s ease;

            *{
                font-size: 10px
            }
        }

        &.checked{
            background-color: $selectionBlue;
            animation: expandSwitch 1s ease;

            .dolfo-switch-dot{
                transform: translateX(120%)
            }
        }
    }

    label{
        vertical-align: middle;
        font-size: 13px;
        margin-left: 0.5rem;
        margin-bottom: 0;
        cursor: pointer;

        .dolfo-input-required{
            color: $red;
            font-weight: bold
        }
    }
}

@keyframes expandSwitch{
    0%{ box-shadow: 0 0 0 3px $hoverBlue }
    100%{ box-shadow: 0 0 0 0 transparent }
}