.dolfo-form-input .dolfo-input-wrapper .dolfo-input-content input.dolfo-input-time{
    text-align: center;
    padding-right: 0;
    padding-left: 0
}

.dolfo-time-container{
    position: absolute;
    display: none;
    margin-top: 44px;
    background-color: $white;
    border: 1px solid $selectionBlue;
    border-radius: $smallRadius;
    z-index: 2;
    width: 100px;
    padding: 0.5rem;

    .dolfo-picker-table{
        width: 100%;
        text-align: center;
        font-size: 120%;
        display: table;

        .dolfo-picker-row{
            display: table-row;

            .dolfo-picker-cell, .dolfo-picker-cell-e{
                display: table-cell
            }
        }

        .dolfo-picker-row:first-child, .dolfo-picker-row:last-child{
            .dolfo-picker-cell{
                border-radius: $roundRadius;
                cursor: pointer;

                &:hover{
                    background-color: $hoverBlue
                }
            }
        }

        .time-display{
            margin: 0.3rem 0
        }
    }

    &.show{
        display: block
    }
}