.dolfo-alert{
    $calc: calc(100% - 20px);
    padding: 0.7rem;
    border-radius: $smallRadius;
    background-color: $lightGrey;
    color: $dark;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .dolfo-alert-content{
        flex: 0 0 $calc;
        max-width: $calc
    }

    &.success{
        background-color: $lightGreen;
        color: $green
    }

    &.error{
        background-color: $lightRed;
        color: $red
    }

    &.info{
        background-color: $lightBlue;
        color: $darkBlue
    }

    &.warning{
        background-color: $lightOrange;
        color: darken($orange, 7%)
    }
}