
table.dolfo-g-calendar{
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid $lightGrey;

    thead th, tbody td{
        width: calc(100% / 7);
        border-bottom: 0;
        border: 1px solid $lightGrey;
        padding: 0.75rem
    }
    
    tbody td{
        max-width: 0;

        .content{
            min-height: 100px;
            width: 100%;
            position: relative;

            .icon-today{
                transform: rotate(45deg);
                position: absolute;
                right: 0;
                color: $green
            }

            .event{
                margin-top: 0.3rem;
                background-color: $red;
                color: $white;
                border-radius: $roundRadius;
                padding: 0.2rem 0.5rem;
                font-size: 12px;
                cursor: pointer;

                &:hover{
                    background-color: darken($red, 10%)
                }
            }
        }

        &.external{
            color: $grey;

            .content .event{
                background-color: $disabled;

                &:hover{
                    background-color: darken($disabled, 15%)
                }
            }
        }
    }
}

@media screen and (max-width: 800px){
    table.dolfo-g-calendar th {
        font-size: 0;

        &:first-letter {
            font-size: initial !important;
        }
    }
}
