.dolfo-g-calendar-content{
    .month-title{
        margin-bottom: 1rem;

        .month-buttons{
            float: right;
            margin-left: 0.7rem;

            .month-button-next{
                margin-left: 0.5rem
            }
        }

        &:after{
            display: block;
            content: "";
            clear: both
        }
    }

    .no-month-events{
        display: none
    }

    table.dolfo-g-calendar{
        $borderRule: 1px solid $lightGrey;

        text-align: center;
        width: 100%;
        border-collapse: separate;
        border-spacing: 0;

        thead tr, tbody tr{
            th, td{
                width: calc(100% / 7);
                border-bottom: 0;
                padding: 0.75rem;
                border-bottom: $borderRule;

                &:not(th){
                    border-left: $borderRule
                }
                
                &:not(td){
                    border-top: $borderRule;
                    
                    &:first-child{
                        border-top-left-radius: $smallRadius;
                        border-left: $borderRule
                    }
    
                    &:last-child{
                        border-top-right-radius: $smallRadius;
                        border-right: $borderRule
                    }
                }
            }
        }
        
        tbody tr{
            &:last-child{
                td:first-child{
                    border-bottom-left-radius: $smallRadius
                }

                td:last-child{
                    border-bottom-right-radius: $smallRadius
                }
            }

            td{
                max-width: 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &:last-child{
                    border-right: $borderRule
                }

                .content{
                    min-height: 100px;
                    width: 100%;
                    position: relative;

                    .icon-today{
                        transform: rotate(45deg);
                        position: absolute;
                        right: 0;
                        color: $green
                    }

                    .day-number-container .day-number .week-day{
                        display: none
                    }

                    .event{
                        margin-top: 0.3rem;
                        background-color: $red;
                        color: $white;
                        border-radius: $roundRadius;
                        padding: 0.2rem 0.5rem;
                        font-size: 12px;
                        cursor: pointer;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;

                        &:hover{
                            background-color: darken($red, 10%)
                        }
                    }
                }

                &.external{
                    color: $grey;

                    .content .event{
                        background-color: $disabled;

                        &:hover{
                            background-color: darken($disabled, 15%)
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 800px){
    .dolfo-g-calendar-content table.dolfo-g-calendar th {
        font-size: 0;

        &:first-letter {
            font-size: initial !important;
        }
    }
}

@media screen and (max-width: 600px){
    .dolfo-g-calendar-content{
        .no-month-events{
            display: block;
            text-align: center
        }
        
        table.dolfo-g-calendar{
            display: block;
            border: 0;

            thead, tbody tr td.emptys{
                display: none
            }

            tbody, tbody tr, tbody tr td{
                display: block;
                width: 100%;
                width: 100%;
                max-width: 100%;
                border: 0;
                padding-left: 0;
                padding-right: 0;

                .external, .empty{
                    display: none
                }
            }

            tbody tr td .content{
                display: flex;
                flex-direction: row;
                min-height: auto;

                .icon-today{
                    display: none;

                    & ~ .day-number-container .day-number{
                        background-color: $green
                    }
                }

                .day-number-container{
                    width: 20%;
                    justify-content: center;
                    display: flex;

                    .day-number{
                        padding: 0.5rem;
                        border-radius: 0.3rem;
                        background-color: $blue;
                        color: $white;
                        width: 65px;
                        height: 65px;
                        font-size: 23px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;

                        .week-day{
                            text-transform: uppercase;
                            font-size: 70%;
                            display: block
                        }
                    }
                }

                .events-container{
                    width: 80%;
                    margin-left: 0.8rem;
                    display: flex;
                    flex-direction: column;
                    
                    .event{
                        color: inherit;
                        font-size: inherit;
                        display: inline-flex;
                        flex-direction: column-reverse;
                        width: 100%;
                        align-items: flex-start;
                        font-size: 14px;
                        border-radius: $smallRadius;
                        background-color: transparent;
                        
                        &:first-child{
                            margin-top: 0
                        }

                        &:hover{
                            background-color: $lightGrey
                        }

                        .event-desc-separator{
                            display: none
                        }

                        .event-desc{
                            display: block;
                            font-weight: bold;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            max-width: 95%
                        }
                    }
                }
            }
        }
    }
}
