.dolfo-card{
    padding: 1rem;
    border-radius: $smallRadius;
    border: 1px solid $grey;
    position: relative;
    background-color: $white;
    margin-top: 0.7rem;

    .dolfo-card-title{
        position: absolute;
        background-color: inherit;
        border-radius: $roundRadius;
        padding: 0.1rem 1rem;
        top: 0;
        color: $dark;
        transform: translateY(-50%);
        text-transform: uppercase;
        font-weight: 500
    }

    .dolfo-card-actions-inner{
        .dolfo-card-actions{
            position: absolute;
            right: 1rem;
            left: 1rem;
            bottom: 1rem
        }
    }
}