.dolfo-card-table-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    .dolfo-card{
        --cardSize: 2rem;
        $halfSize: calc(var(--cardSize) / 2);
        flex: 0 0 calc(33.33% - (var(--cardSize) / 3));
        margin-bottom: $halfSize;
        cursor: pointer;
        
        &.middle{
            margin-left: $halfSize;
            margin-right: $halfSize
        }

        &:hover{
            &, .dolfo-card-title{
                background-color: lighten($lightGrey, 2%);

                &.dolfo-card-title{
                    box-shadow: inset 0 -3px 0 lighten($lightGrey, 2%)
                }
            }
        }

        .key-value{
            margin: 0.3rem 0;
            display: flex;
            flex-direction: row;
            border-radius: $roundRadius;
            align-items: center;

            > *{
                flex: 0 0 50%
            }
        }
    }

    .dolfo-card-actions-inner{
        margin-top: 1rem;

        br{
            display: none
        }
    }

    .dolfo-card-table-noresults{
        text-align: center;
        flex-grow: 1
    }
}

@media screen and (max-width: 750px){
    .dolfo-card-table-content .dolfo-card{
        flex: 0 0 100%;

        &.middle{
            margin-left: 0;
            margin-right: 0
        }
    }
}