.dolfo-card-table-content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    .dolfo-card{
        $halfSize: 1rem;
        flex: 0 0 calc(33.33% - (2rem / 3));
        cursor: pointer;
        
        &:not(:first-child):not(:nth-child(2)):not(:nth-child(3)){
            margin-top: 2.5rem + $halfSize
        }

        .dolfo-card-title .dolfo-checkbox{
            margin-right: 0.8rem
        }
        
        &.middle{
            margin-left: $halfSize;
            margin-right: $halfSize
        }

        &:hover:not(.selected){
            &, .dolfo-card-title{
                background-color: lighten($lightGrey, 2%)
            }
        }

        &.selected{
            &, .dolfo-card-title{
                background-color: #deebf7
            }
        }

        .key-value{
            margin: 0.3rem 0;
            display: flex;
            flex-direction: row;
            border-radius: $roundRadius;
            align-items: center;

            > *{
                flex: 0 0 50%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis
            }
        }
    }

    .dolfo-card-actions-inner{
        margin-top: 1rem;

        br{
            display: none
        }
    }

    .dolfo-card-table-noresults{
        text-align: center;
        flex-grow: 1
    }
}

.results-view-toggler{
    margin-bottom: 0.5rem
}

@media screen and (max-width: 750px){
    .dolfo-card-table-content .dolfo-card{
        flex: 0 0 100%;
        margin-bottom: 1rem;

        &.middle{
            margin-left: 0;
            margin-right: 0
        }
    }
}