body.dolfo-loader-showing{
    overflow: hidden !important
}

.dolfo-full-loader{
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .circle-loading, .circle-loading-inner{
        width: 200px;
        height: 200px;
        border: 4px solid transparent;
        border-top-color: $white;
        border-radius: 100px;
        padding: 1.2rem;
        animation: spinLoader 1.5s linear infinite;
        
        &.circle-loading-inner{
            width: 100%;
            height: 100%;
            animation: spinLoaderReverse 0.75s linear infinite
        }
    }

    .balls-loading{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;

        .ball-inner, &:before, &:after{
            width: 12px;
            height: 0;
            background-color: $white;
            display: inline-block;
            border-radius: $roundRadius;
            margin: 0 0.5rem;
            animation: ballLoader 1s ease infinite;
        }

        .ball-inner{
            animation-delay: 0.5s
        }

        &:before, &:after{
            content: ""
        }
    }

    .loading-text{
        margin-top: 1.3rem;
        display: block;
        color: $white;
        text-align: center;
        font-size: 25px
    }
}

@keyframes spinLoader{
    0%{ transform: rotate(0deg) }
    100%{ transform: rotate(360deg) }
}

@keyframes spinLoaderReverse{
    0%{ transform: rotate(0deg) }
    100%{ transform: rotate(-360deg) }
}

@keyframes ballLoader{
    0%, 100%{ height: 12px }
    50%{ height: 70px }
}