.dolfo-header{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 3;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    padding: 0.6rem 2rem;

    @each $key, $color in $colors {
        &.dolfo-header-#{$key} {
            color: setBtnColor($color);
            background-color: $color
        }
    }

    .dolfo-menu-button{
        vertical-align: top;
        margin-right: 1rem
    }

    .dolfo-header-title{
        transform: translateY(25%);
        display: inline-block;
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 70%;
        font-weight: normal;
        padding-bottom: 0.5rem
    }
}