.dolfo-message-box{
    padding: 0;
    max-width: 350px;

    .dolfo-message-close{
        float: right;
        font-size: 20px;
        color: $grey;
        cursor: pointer;
        margin: 0.7rem;

        &:hover{
            color: $disabled
        }

        &:active{
            color: $dark
        }
    }

    .dolfo-message-box-title, .dolfo-message-box-content{
        padding: 0.7rem 1rem;

        &.dolfo-message-box-title{
            border-bottom: 1px solid $lightGrey;
            margin: 0
        }
    }
}