.dolfo-notification{
    z-index: 150;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
    border-radius: $smallRadius;
    background-color: $white;
    padding: 0.5rem 0.8rem;
    max-width: 300px;
    overflow: hidden;
    position: relative;

    .dolfo-notification-elapser{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        transition: width 0.1s linear;
        background-color: $hoverBlue;
        z-index: -1
    }

    &:not(.static){
        position: fixed;

        &.top-right{
            top: 1rem;
            right: -100%;
            animation: swipeFromRight 0.3s ease forwards
        }
    
        &.top-left{
            top: 1rem;
            left: -100%;
            animation: swipeFromLeft 0.3s ease forwards
        }
    
        &.bottom-right{
            bottom: 1rem;
            right: -100%;
            animation: swipeFromRight 0.3s ease forwards
        }
    
        &.bottom-left{
            bottom: 1rem;
            left: -100%;
            animation: swipeFromLeft 0.3s ease forwards
        }
    
        &.centered-top{
            left: 50%;
            top: -100%;
            animation: swipeFromTop 0.3s ease forwards;
            transform: translateX(-50%)
        }
    
        &.centered-bottom{
            left: 50%;
            bottom: -100%;
            animation: swipeFromBottom 0.3s ease forwards;
            transform: translateX(-50%)
        }
    }
}

@keyframes swipeFromRight{
    100%{ right: 1rem }
}

@keyframes swipeFromLeft{
    100%{ left: 1rem }
}

@keyframes swipeFromTop{
    100%{ top: 1rem }
}

@keyframes swipeFromBottom{
    100%{ bottom: 1rem }
}