.dolfo-side-menu{
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    overflow: auto;
    width: 300px;
    transition: 0.4s ease;
    background-color: #333;
    z-index: 2;
    color: $white;

    .dolfo-menu-overlay{
        position: fixed;
        top: 0;
        left: 300px;
        bottom: 0;
        width: 0;
        background-color: rgba(0, 0, 0, 0.3);
        opacity: 0;
        pointer-events: none;
        margin-left: 0
    }

    &.opened{
        left: 0;

        .dolfo-menu-overlay{
            display: block;
            width: 100%;
            opacity: 1;
            pointer-events: all;
            transition: 0.4s ease;
            transition-delay: 0.4s
        }
    }
}