.dolfo-spotlight{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 1;

    .dolfo-spotlight-overlay{
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.2)
    }
    
    .dolfo-spotlight-inner{
        background-color: $white;
        border-radius: $smallRadius;
        position: relative;
        z-index: 2;
        width: 600px;
        max-height: calc(100% - 200px);
        display: flex;
        flex-direction: column;

        .dolfo-spotlight-filter{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;

            .dolfo-spotlight-input{
                padding: 0.6rem
            }

            .dolfo-spotlight-input{
                flex-grow: 1;

                .dolfo-form-input{
                    margin: 0
                }
            }
        }

        .dolfo-spotlight-data{
            overflow: auto;
            padding: 0.6rem;
            padding-top: 0;
            max-height: 100%;
        
            .dolfo-spotlight-item{
                cursor: pointer;
                border-radius: $smallRadius;
                padding: 0.3rem 1rem;
                word-wrap: break-word;
                border: 1px solid $grey;
            
                &:hover, &.focused{
                    background-color: $lightGrey
                }

                &:not(:last-child){
                    margin-bottom: 0.6rem
                }
            }

            .dolfo-spotlight-nodata, .dolfo-spotlight-loading{
                text-align: center
            }
        }
    }

    &.show .dolfo-spotlight-inner{
        animation: spotSlide 0.5s ease forwards
    }

    &:not(.show){
        display: none
    }
}

@keyframes spotSlide{
    0%{ top: 200px; opacity: 0 }
    100%{ top: 100px; opacity: 1 }
}