.dolfo-status{
    padding: 0.2rem 1rem;
    border-radius: $roundRadius;
    display: inline-block;

    &.success{
        background-color: $lightGreen;
        color: $green
    }

    &.error{
        background-color: $lightRed;
        color: $red
    }

    &.info{
        background-color: $lightBlue;
        color: $darkBlue
    }

    &.warning{
        background-color: $lightOrange;
        color: darken($orange, 7%)
    }

    &.pending{
        background-color: $lightGrey;
        color: $dark
    }
}