.dolfo-stepper{
    .dolfo-stepper-header{
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: 1rem;

        .dolfo-step-separator{
            background-color: $selectionBlue;
            height: 1px;
            flex: 1
        }

        .dolfo-stepper-step-title{
            margin: 0 1rem;
            text-align: center;
            position: relative;

            &:first-child{
                text-align: left;
                margin-left: 0
            }

            &:last-child{
                text-align: right;
                margin-right: 0
            }

            .dolfo-stepper-step-circle{
                display: inline-flex;
                background-color: $selectionBlue;
                opacity: 0.5;
                color: $white;
                align-items: center;
                justify-content: center;
                width: 35px;
                height: 35px;
                border-radius: $roundRadius;
                transition: background-color 0.4s ease
            }

            .dolfo-stepper-label{
                margin-left: 0.7rem
            }

            &.current{
                & ~ .dolfo-step-separator{
                    background-color: $grey
                }

                & ~ .dolfo-stepper-step-title .dolfo-stepper-step-circle{
                    color: $dark;
                    background-color: $lightGrey
                }

                .dolfo-stepper-step-circle{
                    opacity: 1;
                    background-color: $selectionBlue;
                    color: $white
                }
            }
        }
    }

    .dolfo-stepper-steps{
        display: flex;

        .dolfo-step{
            flex: 0 0 100%;
            transition: 0.4s ease;
            position: relative;
            max-width: 100%;

            &:not(.current){
                overflow: hidden;
                height: 0;
                opacity: 0
            }

            &.current{
                height: auto;
                opacity: 1
            }

            &.loading{
                &, *{
                    pointer-events: none !important
                }
            }

            .dolfo-step-loading{
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background: rgba(255, 255, 255, 0.5);
                display: flex;
                align-items: center;
                justify-content: center;
                color: $selectionBlue;
                z-index: 1
            }
        }
    }

    &.vertical{
        display: flex;

        .dolfo-stepper-header{
            flex-direction: column;
            align-items: flex-start;
            width: auto;
            margin-right: 1.5rem;

            .dolfo-step-separator{
                width: 1px;
                height: auto;
                flex: 0 0 50px;
                margin-left: 17px
            }

            .dolfo-stepper-step-title{
                margin: 1rem 0;
    
                &:first-child{
                    margin-top: 0
                }
    
                &:last-child{
                    margin-bottom: 0
                }
            }
        }

        .dolfo-stepper-steps{
            flex-direction: column;
            flex-grow: 1;

            .dolfo-step{
                display: none;

                &.current{
                    display: block
                }
            }
        }
    }
}