.dolfo-table-content{
    overflow: auto;
    word-break: initial;

    .dolfo-table{
        $borderRule: 1px solid $grey;

        width: 100%;
        border-collapse: separate;
        border-spacing: 0;
        border: 0;
        
        > tbody > tr, > thead > tr{
            background-color: $white;

            &:first-child{
                > th{
                    border-top: $borderRule;
                    border-bottom: $borderRule     
                }

                > th:first-child{
                    border-top-left-radius: $smallRadius;
                    border-left: $borderRule
                }

                > th:last-child{
                    border-top-right-radius: $smallRadius;
                    border-right: $borderRule
                }
            }

            &:last-child{
                > td{
                    border-bottom: $borderRule;

                    &:first-child{
                        border-bottom-left-radius: $smallRadius;
                        border-left: $borderRule
                    }
    
                    &:last-child{
                        border-bottom-right-radius: $smallRadius;
                        border-right: $borderRule
                    }
                }
            }

            &:not(:first-child):not(:last-child){
                > td:first-child{
                    border-left: $borderRule
                }

                > td:last-child{
                    border-right: $borderRule
                }
            }

            > td, > th{
                border: 0;
                background-color: $white;
                white-space: pre-wrap;
                text-align: left;
                max-width: 20%
            }

            > td.dolfo-table-noresults{
                text-align: center
            }
        }

        > tbody > tr{
            &:hover{
                cursor: pointer;

                > td{
                    background-color: lighten($lightGrey, 2%)
                }
            }

            &:first-child td{
                &:first-child{
                    border-left: $borderRule
                }

                &:last-child{
                    border-right: $borderRule
                }
            }
        }

        > thead > tr > th, thead > tr > td, tbody > tr > td{
            vertical-align: middle;
            padding: 0.8rem
        }

        > thead > tr > th{
            position: relative;

            .dolfo-column-search-icon{
                position: absolute;
                right: 0.8rem;
                transform: translateY(25%);
                visibility: hidden;
                cursor: pointer
            }

            &:hover .dolfo-column-search-icon{
                visibility: visible
            }

            .dolfo-column-search-input{
                position: absolute;
                left: 10px;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                width: calc(100% - 20px);
                outline: none;
                border: 1px solid $selectionBlue;
                border-radius: $smallRadius;
                padding: 1.2rem 1rem;
                background-color: $white;
                height: 30px
            }
        }

        thead.dolfo-table-actions > tr > td{
            padding-left: 0;
            padding-right: 0;
            text-align: right;
            border: 0 !important;

            .dolfo-button{
                margin-left: 0.5rem
            }
        }
    }
}