.dolfo-table{
    width: 100%;
    border-collapse: collapse;
    background-color: $white;

    tr{
        border-bottom: 1px solid $grey;

        td.dolfo-table-noresults{
            text-align: center
        }
    }

    tbody tr{
        &:hover{
            cursor: pointer;
            background-color: lighten($lightGrey, 2%)
        }
    }

    thead th, tbody td{
        vertical-align: middle;
        padding: 0.8rem
    }
}