@import "comps/shared/styles/dolfo";
@import "comps/form/styles/form";
@import "comps/layout/styles/layout";
@import "node_modules/bootstrap/scss/bootstrap";

body{
    overflow-x: hidden;

    &.login {
        background-image: url("./login_bg.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        min-height: 100vh;

        .dolfo-header{
            display: none
        }
    }
}
.floating-centered{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}
.fade-enter-done{
    position: relative;
    opacity: 0;
    animation: slideLeft 0.4s ease forwards;
}
.progress-label{
    font-size: 20px;
    display: inline-block;
    transform: translateY(10%);
    position: relative
}
.star-animated{
    animation: blinkStar 5s infinite
}
.dialog-404 .dolfo-dialog-inner{
    width: 400px;

    .dialog-close{
        display: none
    }
}
img.menu-logo{
    margin-top: 2rem;
    $color: rgba(0, 0, 0, 0.2);
    width: 100%;
    cursor: pointer;

    &:hover{
        filter: drop-shadow(1.5px 0 0.5px $color) drop-shadow(-0.7px 0 0.5px $color) drop-shadow(0 -1px 0.5px $color) drop-shadow(0 1.5px 0.5px $color);
    }
}
table.calendario{
    thead th, tbody td{
        width: calc(100% / 7);
        border-bottom: 0
    }
    
    tbody td{
        max-width: 0;

        .content{
            min-height: 100px;
            width: 100%;
            position: relative;

            .icon-oggi{
                transform: rotate(45deg);
                position: absolute;
                right: 0;
                color: $green
            }

            .evento{
                margin-top: 0.3rem;
                background-color: $red;
                color: $white;
                border-radius: $roundRadius;
                padding: 0.2rem 0.5rem;
                font-size: 12px;
                cursor: pointer;

                &:hover{
                    background-color: darken($red, 10%)
                }
            }
        }

        &.external{
            color: $grey;

            .content .evento{
                background-color: $disabled;

                &:hover{
                    background-color: darken($disabled, 15%)
                }
            }
        }
    }
}
.small-label{
    font-size: 13px;
    font-weight: normal;
    margin-left: 5px
}

@keyframes slideLeft{
    0%{ opacity: 0; left: 300px }
    100%{ opacity: 1; left: 0 }
}
@keyframes blinkStar{
    0%, 10%, 16%{ color: inherit }
    5%, 15%{ color: $red }
}